* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

//clear-fix
.clear-fix {
  @include clear-fix();
}
// Body reset

html {
  min-width: 320px;
  height: 100%;
  font-size: $font-size-base;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  position: relative;
  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background: #fff;
}
.container--fixed {
  @include container--fixed();
}
// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


// Links
a {
  color: $black;
  text-decoration: none;
  cursor: pointer;
}
// Figures
figure {
  margin: 0;
}
// Images
img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
}
// Horizontal rules
hr {
  margin-top:    $line-height-computed;
  margin-bottom: $line-height-computed;
  border: 0;
  border-top: 1px solid $hr-border;
}

[role="button"] {
  cursor: pointer;
}
