// Typography
// Базовая типографика
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$font-family--serif: Georgia, "Times New Roman", Times, serif;
$font-family--monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family;

$font-size--root: 16px;

$font-size--base: 1rem;
$font-size--lg:   1.25rem;
$font-size--sm:   .875rem;
$font-size--xs:   .75rem;

$line-height--base: 1.5;

$font-size--h1: 2.5rem;
$font-size--h2: 2rem;
$font-size--h3: 1.75rem;
$font-size--h4: 1.5rem;
$font-size--h5: 1.25rem;
$font-size--h6: 1rem;