// Typography
// Базовая типографика
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$font-family--serif: Georgia, "Times New Roman", Times, serif;
$font-family--monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


$font-size--root: 16px;

$font-size--base: 1rem;
$font-size--lg:   1.25rem;
$font-size--sm:   .875rem;
$font-size--xs:   .75rem;

$line-height--base: 1.5;

$font-size--h1: 2.5rem;
$font-size--h2: 2rem;
$font-size--h3: 1.75rem;
$font-size--h4: 1.5rem;
$font-size--h5: 1.25rem;
$font-size--h6: 1rem;


//Color
$black: #000;

// Ширины
$grid-columns:              12;
$grid-gutter-width:         30px;


$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;
$screen-xxl:                  1800px;

$container-sm:                100%;
$container-md:                100%;
$container-lg:                $screen-lg - 30;
$container-xl:                $screen-xl - 30;
$container-xxl:               $screen-xxl - 30;
