@mixin container-fixed($gutter: $grid-gutter-width) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left:  floor(($gutter / 2));
  padding-right: ceil(($gutter / 2));

  /* Media queries */
  @media (min-width: $screen-sm) {
    width: $container-sm;
  }

  @media (min-width: $screen-md) {
    width: $container-md;
  }

  @media (min-width: $screen-lg) {
    width: $container-lg;
  }
}

@mixin container--fixed {
  display: block;
  margin: 0 auto;
  @media (min-width: $screen-md-min) {
    width: 960px;
    padding-left:  10px;
    padding-right: 10px;
  }
}